name: Continuous Integration
on:
  pull_request:
    paths:
      - '**.sh'
      - 'Dockerfile'
      - '**.y*ml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@1.1.0
      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.0.0
        with:
          dockerfile: ./Dockerfile

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Run Prometheus Operator action
        uses: ./
        with:
          path: './tests'
          exclude: '.*invalid.*'

